<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${param.role}"> </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="content">
    <div th:replace="~{fast-href :: welcomeMsg}"></div>
    <div th:replace="~{fast-href :: block}"></div>
</div>
</body>
</html>
