
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="block" th:with="prefixUrl='/security/'  , suffixUrl='/security-auth-test'">
        <a th:href="@{${prefixUrl} + 'user1' + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">user1</a>
        <a th:href="@{${prefixUrl} + 'user2' + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">user2</a>
        <a th:href="@{${prefixUrl} + 'user3' + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">user3</a>
        <a th:href="@{${prefixUrl} + 'user4' + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">user4</a>
        <a th:href="@{${prefixUrl} + 'user5' + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">user5</a>
        <a th:href="@{${prefixUrl} + 'admin' + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">admin</a>
        <a th:href="@{${prefixUrl} + 'root'  + ${suffixUrl} (username=${param.username},role=${param.role})}" class="user-link">root</a>
        <a href="http://127.0.0.1:8080/api/brand?id=1" class="user-link">http://127.0.0.1:8080/api/brand?id=1</a>
        <a href="http://127.0.0.1:8080/api/member?id=1" class="user-link">http://127.0.0.1:8080/api/member?id=1</a>
        <a href="http://127.0.0.1:8080/api/swagger" class="user-link">http://127.0.0.1:8080/api/swagger</a>
        <a href="http://127.0.0.1:8080/api/logout" class="user-link">http://127.0.0.1:8080/api/logout</a>
    </div>

    <div th:fragment="welcomeMsg">
        <h1 th:text="'Welcome, ' + ${param.username}"></h1>
        <p th:text="'This is the role = ' + ${param.role} + ' page.'"></p>
    </div>

