<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購買產品表單</title>
    <style>
        /* 樣式可以保留不變 */
    </style>
</head>
<body>
<div class="container">
    <h2>購買產品表單</h2>
    <form>
        <div class="form-group">
            <label for="memberId">會員ID：</label>
            <input type="text" id="memberId" name="memberId" value="35" required>
        </div>
        <div class="form-group">
            <label for="payTypeId">支付方式：</label>
            <select id="payTypeId" name="payTypeId" required>
                <option th:each="payType : ${payTypes}" th:value="${payType.id}" th:text="${payType.nameTW}"></option>
            </select>
        </div>
        <div class="form-group">
            <fieldset id="purchaseItemList">
                <div>
                    <legend>購買細項</legend>
                    <div class="form-group purchase-item">
                        <label>產品ID：</label>
                        <input type="text" class="product-id" id="productId1" name="productId" onchange="loadData(this)" required>
                        <label>原價：</label>
                        <input type="text" class="price" id="price1" name="price" required>
                        <label>折扣：</label>
                        <input type="text" class="discount" id="discount1" name="discount" required>
                        <label>折後價格：</label>
                        <input type="text" class="price-with-discount" id="priceWithDiscount1" name="priceWithDiscount" required>
                        <label>購買數量：</label>
                        <input type="text" class="quantity" id="quantity1" name="quantity" value="99" required>
                        <button type="button" onclick="removeItem(this)">刪除</button>
                    </div>
                </div>
            </fieldset>
            <button type="button" onclick="addItem()">新增項目</button>
        </div>
        <button type="button" onclick="submitForm()">提交</button>
    </form>

    <div id="detail-block"></div>
</div>
<script>
    var proCount = 1;

    function addItem() {
        var itemList = document.getElementById('purchaseItemList');
        var newItem = itemList.children[0].cloneNode(true);

        // 自動增加ID序號
        proCount++;
        newItem.querySelector('#productId1').id = 'productId' + proCount;

        newItem.querySelector('#price1').id = 'price' + proCount;

        newItem.querySelector('#discount1').id = 'discount' + proCount;

        newItem.querySelector('#priceWithDiscount1').id = 'priceWithDiscount' + proCount;

        newItem.querySelector('#quantity1').id = 'quantity' + proCount;
        proCount++;
        itemList.appendChild(newItem);
    }

    function removeItem(btn) {
        var item = btn.parentNode;
        var itemList = item.parentNode;
        itemList.removeChild(item);
    }

    function loadData(input) {
        var parentElement = input.parentElement;
        var inputElements = parentElement.getElementsByTagName('input');
        var id;
        for (var i = 0; i < inputElements.length; i++) {
            if (inputElements[i] === input) {
                var idString = inputElements[i].id;
                id = idString.match(/\d+$/)[0];
                break;
            }
        }
        var productId = input.value;
        fetch('/api/product?id=' + productId)
            .then(response => response.json())
            .then(data => {
                document.getElementById('price' + id).value = data.data.price;
                document.getElementById('discount' + id).value = data.data.discount;
                document.getElementById('priceWithDiscount' + id).value = data.data.price * data.data.discount * 0.01;
            })
            .catch(error => console.error('Error:', error));
    }
    function submitForm() {

        // 獲取表單數據
        var formData = {
            memberId: document.getElementById('memberId').value,
            payTypeId: document.getElementById('payTypeId').value,
            purchaseItemList: []
        };
        // 獲取購買細項數據
        var purchaseItems = document.querySelectorAll('.purchase-item');
        purchaseItems.forEach(function(item) {
            var productId = item.querySelector('.product-id').value;
            var price = item.querySelector('.price').value;
            var discount = item.querySelector('.discount').value;
            var priceWithDiscount = item.querySelector('.price-with-discount').value;
            var quantity = item.querySelector('.quantity').value;
            formData.purchaseItemList.push({
                productId: productId,
                price: price,
                discount: discount,
                priceWithDiscount: priceWithDiscount,
                quantity: quantity
            });
        });
        // 發送POST請求
        fetch('/api/shop/purchase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
        console.log(response);
        document.getElementById('detail-block').text = response;
        })
        .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
